

<%= render 'welcome/menu' %>

<table class="table1">

  <thead>
    <tr>
      <th><h2>Team Logos</h2></th>
      <th></th>
	  <th>Name</th>
      <th>Edit</th>
	  
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
	  <% if team.logo_file_name == nil %>
	  <td></td>
	  <% else %>
	  <td><%= image_tag team.logo.url(:medium) %></td>
      <%end%>
	  <td></td>
	  <td><%= team.name %></td>
      <td><%= link_to 'Edit Logo', edit_team_path(team) %></td>
	
	  
     
	  </tr>
    <% end %>
  </tbody>
</table>
