


<nav class="mininav">
<ul>
  <li class="start"><%= link_to 'Team Administration', logos_teams_path %></li>
  <li><%= link_to 'Player Administration', admin_index_players_path %></li>
 
  <li class="end">

</li>
</ul>
</nav>





