
<nav class="mininav">
<ul>
	<li class="start"><li><%= link_to 'Players', players_path %></li>
	<li><%= link_to 'Undrafted Players', not_picked_players_path %></li>
	<li><%= link_to 'Players by Position', position_players_path(position: 'QB') %></li>
	
	
	
  <li class="end">

</li>
</ul>
</nav>





